/config.*
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/INSTALL
/aclocal.m4
/src/*.c 
/src/*.o
/src/.deps/
/stamp-h1
/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/libtool
/src/png2theorav
/src/png2theorav_vala.stamp
